@model IEnumerable<Asb404.Models.Project>
@using Asb404.Models;
@{
    DBContexter _db = new DBContexter();
    ViewBag.Title = "لیست پروژه های اجرایی";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    int r = 0;
}
<div id="blog" style="text-align:center;">
    <h2 class="title-one farsi-Yekan-h2 text-center">موسسه حفاظتی مراقبتی امنیت سازان برترچالوس</h2>
    <div class="container animated fadeInDown">
        <div class="row col-md-12">
            <p class="text-left">
                @Html.ActionLink("اضافه کردن پروژه", "Add")
            </p>
            <table class="table table-bordered table-hover table-condensed table-responsive" style="direction:rtl;text-align:right;">
                <tr>
                    <th style="text-align:right;">
                        ردیف
                    </th>
                    <th style="text-align:right;">
                        @Html.DisplayNameFor(model => model.GroupId)
                    </th>
                    <th style="text-align:right;">
                        @Html.DisplayNameFor(model => model.Customer)
                    </th>
                    <th style="text-align:right;">
                        @Html.DisplayNameFor(model => model.Subject)
                    </th>
                    <th style="text-align:right;">
                        قرارداد-وضعیت
                    </th>
                    <th style="text-align:right;">
                        @Html.DisplayNameFor(model => model.Address)
                    </th>

                    @if (Request.IsAuthenticated)
                    {
                        <th class="text-right">عملیات</th>
                    }
                </tr>
                @foreach (var item in Model)
                {
                    r = r + 1;
                    <tr>
                        <td>
                            @r
                        </td>
                        <td>
                           @_db.Groups.Find(item.GroupId).Name
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Customer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoProject)-@Html.DisplayFor(modelItem => item.noprivate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        @if (Request.IsAuthenticated)
                        {
                            <td>
                                @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("گالری ", "Add", "Gallary", new { id = item.Id },null) |
                                @Html.ActionLink("حذف", "Delete", new { id = item.Id })
                           

                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>